* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ReactTags__tags {
  margin: 8px;
}

.ReactTags__tagInputField {
  width: 100%;
  padding: 18px 14px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
}

.ReactTags__selected .ReactTags__tag {
  display: inline-block;
  background: #3f51b5;
  color: white;
  font-size: 1.2rem;
  padding: 5px;
  margin-right: 5px;
  margin-top: 15px;
  border-radius: 5px;
}

.ReactTags__selected .ReactTags__remove {
  color: white;
  background: none;
  font-size: 1.2rem;
  margin-left: 5px;
  border: none;
  cursor: pointer;
}

.ReactTags__suggestions {
  font-size: 1.2rem;
  cursor: pointer;
}